h1 {
}

h2 {
}

.header__link {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
    font-weight: 500;
    font: normal 0.9375rem / 1.2 Manrope, Helvetica, "Open Sans", Arial,
        sans-serif;
}
